// example: @include opacity(.5);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}
// example: @include tn(400ms);
@mixin tn($transition: all 200ms ease) {
  transition: $transition;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin background-gradient($startColor, $endColor, $orientation:'') {
  background: $startColor;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $startColor, $endColor);
    background: linear-gradient(to bottom, $startColor, $endColor);
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#{$startColor}', endColorstr='#{$endColor}',GradientType=0 );
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $startColor, $endColor);
    background: linear-gradient(to right, $startColor, $endColor);
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#{$startColor}', endColorstr='#{$endColor}',GradientType=1 );
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $startColor, $endColor);
    background: radial-gradient(ellipse at center, $startColor, $endColor);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100, finishopacity=60, style=2);
  }
}